.s-page-title .s-btn {
	width: 160px;
	background: #00a1f1;
	color: #dedede;
	padding: 10px;
	border: 0;
	font-family: dinregular;
	display: block;
	text-decoration: none;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	text-align: center;
	font-size: 22px;
	line-height: 26px;
}

.s-page-title .s-btn:hover{
	text-decoration: none;
	color: white;
}

.s-page-title .sysmap-vaga-nome{
	font-family: dinregular;
	font-weight: bold;
}

.page-internal h4 {
	margin-bottom: 10px;
}

.page-internal li {
    font-size: 16px;
    font-family: din_lightregular;
}

.formArea {
    border-width: 1px;
    border-style: solid;
    border-color: #e4e4e4;
    padding: 30px;
    width: 90%;
    max-width: 980px;
    margin: 0 auto 30px;
}
