.s-page-title .s-btn {
    width: 200px;
    background: #00a1f1;
    color: white;
    padding: 10px;
    border: 0;
    font-family: dinregular;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    text-align: center;
}
